body{
  font-family: 'Lato', sans-serif;
  margin: 0 2em;
}
a{
  text-decoration: none;
  color: black;
}
a span{
   font-weight: 900;
   font-size:x-large;
}
.barraSuperior{
  display: flex;
  justify-content:space-between;
  background-color:darkblue;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.barraSuperior .logo{
  flex-basis: 10%;
}
.barraSuperior .logo img{
  width: 6rem;
  border-radius: 100%;
  padding: 0.3rem;
}
.barraSuperior .accesos{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-basis: 40%;
}
.barraSuperior .accesos a{
  text-decoration: none;
  color: white;
}
.barraSuperior .botonera{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-basis: 12%;
}
.botonera button{
  background: none;
  border: none;
}
.barraSuperior .botonera img{
  width: 4rem;
}
.ArtSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:aliceblue;
  text-align: center;
  padding: 0.5rem 0.5rem;
}
.margen{
  margin: 1rem 1rem;
  border-radius: 1rem;
}
.columnA{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.Art{
  display: flex;
  justify-content:space-evenly;
}
.columnA .Art .Link-Tendencias{
  display: flex;
  justify-content: space-between;
  flex-basis: calc(100/3);
}
.Link-Tendencias img{
  width: 15rem;
  border-radius: 1rem;
}
.Link-Tendencias p{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 0 1rem 0 0;
  font-size:x-large;
}
.Varios{
  display: flex;
  justify-content: space-between;
}
.detalle{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.8em;
}
.Art-Det{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.Art-Det img{
  width: 8rem;
  border-radius: 0.5rem;
}
.Marcas{
  display: flex;
  justify-content:space-around;
}
.Marcas img{
  width: 8rem;
}
footer{
  height: 12rem;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
}
footer img{
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
}
footer a{
  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
}
footer h4{
  color: white;
}
.Contacto{
  display: flex;
  justify-content:center;
}
.Redes{
  display: flex;
  justify-content:center;
}
.Marcas #logoRealme{
  padding-top: 3em;
}
.contenedor{
  text-align: center;
  justify-content: center;
}
.contenido-nosotros{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: aliceblue;
  text-align: center;
  align-items: center;
}
.Text-Nosotros{
  padding: 2rem;
}
.logo-nosotros img{
  border-radius: 50%;
  height: 20rem;
}
.Text-Nosotros blockquote{
  font-weight: 900;
  font-size:x-large;
}
.Text-Nosotros p{
  font-size: large;
}
.Tienda img{
  width: 30rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 5rem;
}
.camera{
  display: flex;
  justify-content:center;
  padding: 1rem;
}
.camera img{
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.PresTel{
  background-image: url(https://i02.appmifile.com/6_operator_sg/22/03/2022/9c1d1e1da070a64d475fac98aea5628d.jpg);
  height: 30rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.TextPres{
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 60rem;
}
.TextPres p{
  width: 20rem;
}
.detalleProduct{
  display: flex;
  justify-content: center;
  margin: 1rem 3rem;
}
.detalleProduct div{
  display: flex;
}
.titulo{
  flex-basis: 20%;
  display: flex;
  align-items: center;
}
.titulo h2{
  font-size: xxx-large;
}
.tituloDet{
  flex-basis: 60%;
  display: flex;
}
.tituloDet p{
  font-size: large;
}
.colorTelefono{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.colorTelefono img{
  border-radius: 1rem;
}
.PresTel{
  background-image: url(https://i02.appmifile.com/6_operator_sg/22/03/2022/9c1d1e1da070a64d475fac98aea5628d.jpg);
  height: 30rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.PresAudifono{
  background-image: url(https://i.ibb.co/BB1VPpq/latin-feature-choose-the-sound-you-want-to-hear-481739907.webp);
  background-repeat: no-repeat;
  height: 30rem;
  width: 75rem;
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: left;
  align-items: center;
}
.TextAudifono{
  display: flex;
  flex-direction: column;
}
.TextAudifono p{
  width: 15rem;
}
.presentacion{
  display: flex;
  justify-content: space-around;
}
.PresSmartW{
  display: flex;
  background-image: url(https://i.ibb.co/B4BGVm8/Lr3pro.jpg);
  height:25rem;
  width: 75rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.TextSmartW{
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding: 0 8rem;
}
.credenciales{
  border-radius: 1rem;
  margin-bottom: 1rem;
  height: 35rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario{
  display: flex;
  flex-direction: column;
  width: 25rem;
  text-align: center;
}
.formulario .credencial{
  height: 3rem;
  width: 24rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: large;
}
.check{
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 1rem;
}
.check p{
  margin: 0;
}
.check input{
  margin-right: 0.5rem;
}

.botones{
  display: flex;
  justify-content: space-around;
}
.botones .botCre, .botCre{
  display: flex;
  margin:0 0.5rem;
  background-color: darkblue;
  border: none;
  border-radius: 1rem;
  padding: 0 0.5rem;
  height: 4rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: x-large;
}
.botones .botCre h4{
  color: whitesmoke;
  margin: 0;
}
#mapa{
  height: 20rem;
}
.PresSilicon{
  background-image: url(https://i.ibb.co/51tv60m/iphone-cases-magsafe-banner-202203-GEO-MX.jpg);
  height:28rem;
  width: 90rem;
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.TextSilicon{
  color: black;
  display: flex;
  flex-direction: column;
}
.producto{
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
}
.producto img{
  width: 5rem;
  height: 5rem;
  padding: 0;
}
.producto button{
  width: 25%;
  border: none;
  border-radius: 1rem;
  background-color: darkblue;
  color: whitesmoke;
}
.producto button img{
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}
.CarProd{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.carrito{
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;

  --opacity: 0;
  --pointer: none;
   opacity: var(--opacity);
   pointer-events: var(--pointer);
   transition: opacity .5s;
}
.carrito:target{
  --opacity: 1;
  --pointer: unset;
}
.ContCar{
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
  width: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.ContCar h3{
  padding: 0.5rem;
}
.CarCont{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:space-around;
  margin: 1rem;
}
.CarCont button, .CarCont a, .headC a{
  margin: 0.5rem 0.5rem;
  border: none;
  text-decoration: none;
  background-color: #00008b;
  padding: .5rem;
  border-radius: 1rem;
  color: whitesmoke;
}
.productoEnCarrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}
.productoEnCarrito img{
  width: 8rem;
}
.productoEnCarrito button img{
  width: 2rem;
}
.headC{
  display: flex;
  width: 100%;
  justify-content:center;
}
.headC a img{
  width: 1rem;
}
.CantidadProd input{
  width: 1.5rem;
  border: none;
}
.sitioAdmin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prodAdmin input{
  width: 25rem;
  height: 1.5rem;
}
.prodAdmin button{
  margin: 1rem;
}
.informacion{
  display: flex;
  justify-content: space-between;
}
.informacion img{
  width: 8rem;
  border-radius: 10rem;
}